---
version: 2
interactions:
    - id: 0
      request:
        host: mail.proton.me
        body: '{"GrantType":"refresh_token","RedirectURI":"https://protonmail.ch","RefreshToken":"REDACTED_REFRESHTOKEN_1","ResponseType":"token","State":"5���ҫ�c$��m�\u000b�s_{�,2%�\u00104�[��\t�B","UID":"REDACTED_UID_1"}'
        headers:
            Content-Type:
                - application/json
            X-Pm-Appversion:
                - macos-bridge@3.24.1
        url: https://mail.proton.me/api/auth/v4/refresh
        method: POST
      response:
        body: '{"AccessToken":"REDACTED_ACCESSTOKEN_1","Code":1000,"ExpiresIn":86400,"LocalID":0,"RefreshCounter":1,"RefreshToken":"REDACTED_REFRESHTOKEN_1","Scope":"full locked self parent user loggedin paid nondelinquent mail verified settings","Scopes":["full","locked","self","parent","user","loggedin","paid","nondelinquent","mail","verified","settings"],"TokenType":"Bearer","UID":"REDACTED_UID_2","Uid":"REDACTED_UID_1"}'
        headers:
            Access:
                - application/vnd.protonmail.api+json;apiversion=4
            Content-Type:
                - application/json
            Public-Key-Pins-Report-Only:
                - pin-sha256="CT56BhOTmj5ZIPgb/xD5mH8rY3BLo/MlhP7oPyJUEDo="; pin-sha256="35Dx28/uzN3LeltkCBQ8RHK0tlNSa2kCpCRGNp34Gxc="; report-uri="https://reports.proton.me/reports/tls"
            X-Pm-Date:
                - 20 May 2026 23:33:56 GMT
        status: 200 OK
        code: 200
        duration: 688.0835ms
    - id: 1
      request:
        host: mail.proton.me
        body: '{"Name":"example.test"}'
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            X-Pm-Appversion:
                - macos-bridge@3.24.1
            X-Pm-Uid:
                - REDACTED
        url: https://mail.proton.me/api/core/v4/domains
        method: POST
      response:
        body: '{"Code":1000,"Domain":{"CatchAll":0,"CreateTime":1700000000,"DkimState":0,"DomainName":"example.test","Flags":0,"ID":"REDACTED_DOMAINID_1","Keys":[],"State":1,"VerifyState":0}}'
        headers:
            Content-Type:
                - application/json
        status: ""
        code: 200
        duration: 8.75µs
    - id: 2
      request:
        host: mail.proton.me
        body: '{"Name":"example.test"}'
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            X-Pm-Appversion:
                - macos-bridge@3.24.1
            X-Pm-Uid:
                - REDACTED
        url: https://mail.proton.me/api/core/v4/domains
        method: POST
      response:
        body: '{"Code":2500,"Error":"Domain already exists"}'
        headers:
            Content-Type:
                - application/json
        status: ""
        code: 409
        duration: 6.167µs
