---
version: 2
interactions:
    - id: 0
      request:
        host: mail.proton.me
        body: '{"GrantType":"refresh_token","RedirectURI":"https://protonmail.ch","RefreshToken":"REDACTED_REFRESHTOKEN_1","ResponseType":"token","State":"�\u0004�S �4NB;W�\u0015ї��{�\u0003H;��z\u0017\u000b��jJ�","UID":"REDACTED_UID_1"}'
        headers:
            Content-Type:
                - application/json
            X-Pm-Appversion:
                - macos-bridge@3.24.1
        url: https://mail.proton.me/api/auth/v4/refresh
        method: POST
      response:
        body: '{"AccessToken":"REDACTED_ACCESSTOKEN_1","Code":1000,"ExpiresIn":86400,"LocalID":0,"RefreshCounter":1,"RefreshToken":"REDACTED_REFRESHTOKEN_1","Scope":"full locked self parent user loggedin paid nondelinquent mail verified settings","Scopes":["full","locked","self","parent","user","loggedin","paid","nondelinquent","mail","verified","settings"],"TokenType":"Bearer","UID":"REDACTED_UID_2","Uid":"REDACTED_UID_1"}'
        headers:
            Access:
                - application/vnd.protonmail.api+json;apiversion=4
            Content-Type:
                - application/json
            Public-Key-Pins-Report-Only:
                - pin-sha256="CT56BhOTmj5ZIPgb/xD5mH8rY3BLo/MlhP7oPyJUEDo="; pin-sha256="35Dx28/uzN3LeltkCBQ8RHK0tlNSa2kCpCRGNp34Gxc="; report-uri="https://reports.proton.me/reports/tls"
            X-Pm-Date:
                - 20 May 2026 22:55:12 GMT
        status: 200 OK
        code: 200
        duration: 600.0645ms
    - id: 1
      request:
        host: mail.proton.me
        headers:
            Authorization:
                - REDACTED
            X-Pm-Appversion:
                - macos-bridge@3.24.1
            X-Pm-Uid:
                - REDACTED
        url: https://mail.proton.me/api/mail/v4/messages/Zk9uX1ZjUjBudGUtTm90QVJlYWxJRC1OZWl0aGVySXNUaGlzT25lLU5vclRoYXRPbmUtSnVzdEZpbGxlcg==
        method: GET
      response:
        body: '{"Code":2501,"Error":"Resource not found"}'
        headers:
            Content-Type:
                - application/json
        status: ""
        code: 404
        duration: 3.834µs
