---
version: 2
interactions:
    - id: 0
      request:
        host: mail.proton.me
        body: '{"GrantType":"refresh_token","RedirectURI":"https://protonmail.ch","RefreshToken":"REDACTED_REFRESHTOKEN_1","ResponseType":"token","State":"\u001b��O��u�m5%.��\u0019\u000e���#\u0012矞\u001ev\u0016���U�","UID":"REDACTED_UID_1"}'
        headers:
            Content-Type:
                - application/json
            X-Pm-Appversion:
                - macos-bridge@3.24.1
        url: https://mail.proton.me/api/auth/v4/refresh
        method: POST
      response:
        body: '{"AccessToken":"REDACTED_ACCESSTOKEN_1","Code":1000,"ExpiresIn":86400,"LocalID":0,"RefreshCounter":9,"RefreshToken":"REDACTED_REFRESHTOKEN_1","Scope":"full self parent user loggedin paid nondelinquent mail verified settings","Scopes":["full","self","parent","user","loggedin","paid","nondelinquent","mail","verified","settings"],"TokenType":"Bearer","UID":"REDACTED_UID_2","Uid":"REDACTED_UID_1"}'
        headers:
            Access:
                - application/vnd.protonmail.api+json;apiversion=4
            Content-Type:
                - application/json
            Public-Key-Pins-Report-Only:
                - pin-sha256="CT56BhOTmj5ZIPgb/xD5mH8rY3BLo/MlhP7oPyJUEDo="; pin-sha256="35Dx28/uzN3LeltkCBQ8RHK0tlNSa2kCpCRGNp34Gxc="; report-uri="https://reports.proton.me/reports/tls"
        status: 200 OK
        code: 200
        duration: 217.188167ms
    - id: 1
      request:
        host: mail.proton.me
        body: '{"Desc":1,"Page":0,"PageSize":1,"Sort":"ID"}'
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            X-Http-Method-Override:
                - GET
            X-Pm-Appversion:
                - macos-bridge@3.24.1
            X-Pm-Uid:
                - REDACTED
        url: https://mail.proton.me/api/mail/v4/messages
        method: POST
      response:
        body: '{"Code":1000,"Limit":509,"Messages":[{"AddressID":"FLZjEknB7xrZs-yaNsNO2fuDzZe2vIfQ6Hy0hFWvVOqJn_kV_UnRm4j4E5sxK6ACjHXwbzxnsaZ2sePs_3Xf7w==","AttachmentInfo":{},"AttachmentsMetadata":[],"BCCList":[],"BimiSelector":null,"CCList":[{"Address":"ci_activity@noreply.github.com","Group":"","IsProton":0,"Name":"Ci activity"}],"CategoryID":"22","ConversationID":"umKLcCoWhe88bZfqYWYPbEN9_3c237CgGnqHB7X8xm7W58tD8urbHoE_wf12-lIyHl4ynEnBOLFwi_DKkIqLsw==","DisplaySenderImage":1,"DisplaySnoozedReminder":false,"ExpirationTime":0,"ExternalID":"millsymills-com/protonmail-mcp/check-suites/CS_kwDOSM2IMs8AAAAQMkbx8w/1779127964@github.com","Flags":8388609,"ID":"6bsRcmJeLb-w4AKGwDT74lGoxu-euC0TTfArgYSXFVCWtooTTevhcJdcIS7qgG8lH9KYaFDFM-Ze9sgCvyjGMw==","IsEncrypted":2,"IsForwarded":0,"IsProton":0,"IsReplied":0,"IsRepliedAll":0,"LabelIDs":["0","5","15","22"],"NewsletterSubscriptionID":null,"NumAttachments":0,"Order":403894513551,"Sender":{"Address":"notifications@github.com","BimiSelector":null,"DisplaySenderImage":1,"IsProton":0,"IsSimpleLogin":0,"Name":"Andrew Mills"},"SenderAddress":"notifications@github.com","SenderName":"Andrew Mills","Size":3186,"SnoozeTime":0,"SpamScore":0,"Subject":"[millsymills-com/protonmail-mcp] PR run failed: ci - feat(recorder): batch mode + scrub/lint/matcher fixes (toward #63) (69de588)","Time":1779127986,"ToList":[{"Address":"protonmail-mcp@noreply.github.com","Group":"","IsProton":0,"Name":"millsymills-com/protonmail-mcp"}],"Type":0,"Unread":1}],"Stale":0,"Total":509}'
        headers:
            Access:
                - application/vnd.protonmail.api+json;apiversion=4
            Content-Type:
                - application/json
            Public-Key-Pins-Report-Only:
                - pin-sha256="CT56BhOTmj5ZIPgb/xD5mH8rY3BLo/MlhP7oPyJUEDo="; pin-sha256="35Dx28/uzN3LeltkCBQ8RHK0tlNSa2kCpCRGNp34Gxc="; report-uri="https://reports.proton.me/reports/tls"
        status: 200 OK
        code: 200
        duration: 250.546084ms
    - id: 2
      request:
        host: mail.proton.me
        headers:
            Authorization:
                - REDACTED
            X-Pm-Appversion:
                - macos-bridge@3.24.1
            X-Pm-Uid:
                - REDACTED
        url: https://mail.proton.me/api/mail/v4/messages/6bsRcmJeLb-w4AKGwDT74lGoxu-euC0TTfArgYSXFVCWtooTTevhcJdcIS7qgG8lH9KYaFDFM-Ze9sgCvyjGMw==
        method: GET
      response:
        body: '{"Code":1000,"Message":{"AddressID":"FLZjEknB7xrZs-yaNsNO2fuDzZe2vIfQ6Hy0hFWvVOqJn_kV_UnRm4j4E5sxK6ACjHXwbzxnsaZ2sePs_3Xf7w==","AttachmentInfo":{},"Attachments":[],"AttachmentsMetadata":[],"BCCList":[],"BimiSelector":null,"Body":"REDACTED_PGP_BODY_1","CCList":[{"Address":"ci_activity@noreply.github.com","Group":"","IsProton":0,"Name":"Ci activity"}],"CategoryID":"22","ConversationID":"umKLcCoWhe88bZfqYWYPbEN9_3c237CgGnqHB7X8xm7W58tD8urbHoE_wf12-lIyHl4ynEnBOLFwi_DKkIqLsw==","DisplaySenderImage":1,"DisplaySnoozedReminder":false,"ExpirationTime":0,"ExternalID":"millsymills-com/protonmail-mcp/check-suites/CS_kwDOSM2IMs8AAAAQMkbx8w/1779127964@github.com","Flags":8388609,"Header":"Return-Path: <notifications@github.com>\r\nX-Original-To: mills@example.test\r\nDelivered-To: mills@example.test\r\nAuthentication-Results: mail.protonmail.ch; dkim=pass (Good 1024 bit\r\n    rsa-sha256 signature) header.d=github.com header.a=rsa-sha256\r\nAuthentication-Results: mail.protonmail.ch; dmarc=pass (p=quarantine dis=none)\r\n header.from=github.com\r\nAuthentication-Results: mail.protonmail.ch; spf=pass smtp.mailfrom=github.com\r\nAuthentication-Results: mail.protonmail.ch; arc=none[...]
