---
version: 2
interactions:
    - id: 0
      request:
        host: mail.proton.me
        body: '{"GrantType":"refresh_token","RedirectURI":"https://protonmail.ch","RefreshToken":"REDACTED_REFRESHTOKEN_1","ResponseType":"token","State":"�6�%��\u000b�v���[��brɥ���#1\u001c\u0012�uY\u0005a\u0002","UID":"REDACTED_UID_1"}'
        headers:
            Content-Type:
                - application/json
            X-Pm-Appversion:
                - macos-bridge@3.24.1
        url: https://mail.proton.me/api/auth/v4/refresh
        method: POST
      response:
        body: '{"AccessToken":"REDACTED_ACCESSTOKEN_1","Code":1000,"ExpiresIn":86399,"LocalID":0,"RefreshCounter":9,"RefreshToken":"REDACTED_REFRESHTOKEN_1","Scope":"full self parent user loggedin paid nondelinquent mail verified settings","Scopes":["full","self","parent","user","loggedin","paid","nondelinquent","mail","verified","settings"],"TokenType":"Bearer","UID":"REDACTED_UID_2","Uid":"REDACTED_UID_1"}'
        headers:
            Access:
                - application/vnd.protonmail.api+json;apiversion=4
            Content-Type:
                - application/json
            Public-Key-Pins-Report-Only:
                - pin-sha256="CT56BhOTmj5ZIPgb/xD5mH8rY3BLo/MlhP7oPyJUEDo="; pin-sha256="35Dx28/uzN3LeltkCBQ8RHK0tlNSa2kCpCRGNp34Gxc="; report-uri="https://reports.proton.me/reports/tls"
        status: 200 OK
        code: 200
        duration: 275.262375ms
    - id: 1
      request:
        host: mail.proton.me
        body: '{"Desc":1,"Page":0,"PageSize":1,"Sort":"ID"}'
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            X-Http-Method-Override:
                - GET
            X-Pm-Appversion:
                - macos-bridge@3.24.1
            X-Pm-Uid:
                - REDACTED
        url: https://mail.proton.me/api/mail/v4/messages
        method: POST
      response:
        body: "{\"Code\":1000,\"Limit\":508,\"Messages\":[{\"AddressID\":\"FLZjEknB7xrZs-yaNsNO2fuDzZe2vIfQ6Hy0hFWvVOqJn_kV_UnRm4j4E5sxK6ACjHXwbzxnsaZ2sePs_3Xf7w==\",\"AttachmentInfo\":{},\"AttachmentsMetadata\":[],\"BCCList\":[],\"BimiSelector\":null,\"CCList\":[],\"CategoryID\":\"25\",\"ConversationID\":\"VwL165WojCVDK_RJ_mBoV20jdS8RLgLZ9H1PmSvbMMli3Af5lpBeVv707lLu8FBut42rVq2JEcV1AbTtbPy7cw==\",\"DisplaySenderImage\":1,\"DisplaySnoozedReminder\":false,\"ExpirationTime\":1781717779,\"ExternalID\":\"2123007882.7101029.1779125769632@marketo-platform--email-sender-prod-batch-cluster-5c5f9b9fr42v6\",\"Flags\":276824065,\"ID\":\"WAD7HQfBCjQTXE8eml_r8DMgAehOz8QfjpD10i9jm5Kwjur9_ZBXkPEOX7m7elPjo2UcPHvpPhZ7A74mSIVdMg==\",\"IsEncrypted\":2,\"IsForwarded\":0,\"IsProton\":0,\"IsReplied\":0,\"IsRepliedAll\":0,\"LabelIDs\":[\"4\",\"5\",\"25\"],\"NewsletterSubscriptionID\":\"ngZ2bJFV-i_lY1005OpbX-kpYEH3YG_FdZ_BcQYcxlFJLKE0x5ahJu27nIL3rFtV1TBMDSsjrAWM8n-mBTLRbA==\",\"NumAttachments\":0,\"Order\":403894499982,\"Sender\":{\"Address\":\"Newsletter@email.msccruisesusa.com\",\"BimiSelector\":null,\"DisplaySenderImage\":1,\"IsProton\":0,\"IsSimpleLogin\":0,\"Name\":\"MSC Cruises\"},\"SenderAddress\":\"Newsletter@email.msccruisesusa.com\",\"SenderName\":\"MSC Cruises\",\"Size\":11884,\"SnoozeTime\":0,\"SpamScore\":0,\"Subject\":\"News Alert! Discover MSC World Atlantic's Seven Districts \U0001F6A2\",\"Time\":1779125770,\"ToList\":[{\"Address\":\"leslie@example.test\",\"Group\":\"\",\"IsProton\":0,\"Name\":\"\"}],\"Type\":0,\"Unread\":1}],\"Stale\":0,\"Total\":508}"
        headers:
            Access:
                - application/vnd.protonmail.api+json;apiversion=4
            Content-Type:
                - application/json
            Public-Key-Pins-Report-Only:
                - pin-sha256="CT56BhOTmj5ZIPgb/xD5mH8rY3BLo/MlhP7oPyJUEDo="; pin-sha256="35Dx28/uzN3LeltkCBQ8RHK0tlNSa2kCpCRGNp34Gxc="; report-uri="https://reports.proton.me/reports/tls"
        status: 200 OK
        code: 200
        duration: 525.142625ms
    - id: 2
      request:
        host: mail.proton.me
        headers:
            Authorization:
                - REDACTED
            X-Pm-Appversion:
                - macos-bridge@3.24.1
            X-Pm-Uid:
                - REDACTED
        url: https://mail.proton.me/api/mail/v4/messages/WAD7HQfBCjQTXE8eml_r8DMgAehOz8QfjpD10i9jm5Kwjur9_ZBXkPEOX7m7elPjo2UcPHvpPhZ7A74mSIVdMg==
        method: GET
      response:
        body: "{\"Code\":1000,\"Message\":{\"AddressID\":\"FLZjEknB7xrZs-yaNsNO2fuDzZe2vIfQ6Hy0hFWvVOqJn_kV_UnRm4j4E5sxK6ACjHXwbzxnsaZ2sePs_3Xf7w==\",\"AttachmentInfo\":{},\"Attachments\":[],\"AttachmentsMetadata\":[],\"BCCList\":[],\"BimiSelector\":null,\"Body\":\"[REDACTED PGP MESSAGE]\\n\",\"CCList\":[],\"CategoryID\":\"25\",\"ConversationID\":\"VwL165WojCVDK_RJ_mBoV20jdS8RLgLZ9H1PmSvbMMli3Af5lpBeVv707lLu8FBut42rVq2JEcV1AbTtbPy7cw==\",\"DisplaySenderImage\":1,\"DisplaySnoozedReminder\":false,\"ExpirationTime\":1781717779,\"ExternalID\":\"2123007882.7101029.1779125769632@marketo-platform--email-sender-prod-batch-cluster-5c5f9b9fr42v6\",\"Flags\":276824065,\"Header\":\"Return-Path: <271-DJN-199.0.290400.0.0.164027.9.257926404-34@bounce2.msccruises.com>\\r\\nX-Original-To: leslie@example.test\\r\\nDelivered-To: mills@example.test\\r\\nAuthentication-Results: mail.protonmail.ch; dkim=pass (Good 1024 bit\\r\\n    rsa-sha256 signature) header.d=email.msccruisesusa.com\\r\\n    header.i=@email.msccruisesusa.com header.a=rsa-sha256; dkim=pass (Good\\r\\n    1024 bit rsa-sha256 signature) header.d=mktdns.com header.i=@mktdns.com\\r\\n    header.a=rsa-sha256\\r\\nAu[...]
