---
version: 2
interactions:
    - id: 0
      request:
        host: mail.proton.me
        body: '{"GrantType":"refresh_token","RedirectURI":"https://protonmail.ch","RefreshToken":"REDACTED_REFRESHTOKEN_1","ResponseType":"token","State":"/�-��g�\r\u0015��5|�\u0015B\u001d��1�c{�����C�''.","UID":"REDACTED_UID_1"}'
        headers:
            Content-Type:
                - application/json
            X-Pm-Appversion:
                - macos-bridge@3.24.1
        url: https://mail.proton.me/api/auth/v4/refresh
        method: POST
      response:
        body: '{"AccessToken":"REDACTED_ACCESSTOKEN_1","Code":1000,"ExpiresIn":86400,"LocalID":0,"RefreshCounter":8,"RefreshToken":"REDACTED_REFRESHTOKEN_1","Scope":"full self parent user loggedin paid nondelinquent mail verified settings","Scopes":["full","self","parent","user","loggedin","paid","nondelinquent","mail","verified","settings"],"TokenType":"Bearer","UID":"REDACTED_UID_1","Uid":"REDACTED_UID_2"}'
        headers:
            Access:
                - application/vnd.protonmail.api+json;apiversion=4
            Content-Type:
                - application/json
            Public-Key-Pins-Report-Only:
                - pin-sha256="CT56BhOTmj5ZIPgb/xD5mH8rY3BLo/MlhP7oPyJUEDo="; pin-sha256="35Dx28/uzN3LeltkCBQ8RHK0tlNSa2kCpCRGNp34Gxc="; report-uri="https://reports.proton.me/reports/tls"
            X-Pm-Date:
                - 20 May 2026 19:54:44 GMT
        status: 200 OK
        code: 200
        duration: 709.09925ms
    - id: 1
      request:
        host: mail.proton.me
        body: '{"Desc":1,"Page":0,"PageSize":1,"Sort":"ID"}'
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            X-Http-Method-Override:
                - GET
            X-Pm-Appversion:
                - macos-bridge@3.24.1
            X-Pm-Uid:
                - REDACTED
        url: https://mail.proton.me/api/mail/v4/messages
        method: POST
      response:
        body: '{"Code":1000,"Limit":830,"Messages":[{"AddressID":"FLZjEknB7xrZs-yaNsNO2fuDzZe2vIfQ6Hy0hFWvVOqJn_kV_UnRm4j4E5sxK6ACjHXwbzxnsaZ2sePs_3Xf7w==","AttachmentInfo":{},"AttachmentsMetadata":[],"BCCList":[],"BimiSelector":null,"CCList":[],"CategoryID":"21","ConversationID":"IkWc8hcDPXhhm42wZN1xTP78h1QdyrvsiR0xKFntIrrdWxKSffiCJxdAnbKzVk2Ev2TUni6OYK4uc295tZnd5Q==","DisplaySenderImage":1,"DisplaySnoozedReminder":false,"ExpirationTime":0,"ExternalID":"2145625663l12246053l35793l0l0520170332@m56.criticalimpactinc.com","Flags":8388609,"ID":"Qv_TTqeF-g_Ujknt3H4WJv3JbpZg7G5b-8cnpZ-Aim3TDyccLnYKJGcbvt2sC2AZwCUP4VUZNuqxmtEOVvOYKQ==","IsEncrypted":2,"IsForwarded":0,"IsProton":0,"IsReplied":0,"IsRepliedAll":0,"LabelIDs":["0","5","15","21"],"NewsletterSubscriptionID":"pXLj4h5WEiHwKJzhIcby113CBA2AoXQ9fvjWLZ9xQlDZxvRSD-cDxSXGSbH3YxS8ImZakBEuZLj_krgwfp-uwQ==","NumAttachments":0,"Order":403895328710,"Sender":{"Address":"newsletter@ernieball.com","BimiSelector":null,"DisplaySenderImage":1,"IsProton":0,"IsSimpleLogin":0,"Name":"Ernie Ball"},"SenderAddress":"newsletter@ernieball.com","SenderName":"Ernie Ball","Size":4585,"SnoozeTime":0,"SpamScore":0,"Subject":"The All-New John Petrucci Majesty Premium Select is Here!","Time":1779296669,"ToList":[{"Address":"rclark@millsymills.com","Group":"","IsProton":0,"Name":""}],"Type":0,"Unread":1}],"Stale":0,"Total":830}'
        headers:
            Access:
                - application/vnd.protonmail.api+json;apiversion=4
            Content-Type:
                - application/json
            Public-Key-Pins-Report-Only:
                - pin-sha256="CT56BhOTmj5ZIPgb/xD5mH8rY3BLo/MlhP7oPyJUEDo="; pin-sha256="35Dx28/uzN3LeltkCBQ8RHK0tlNSa2kCpCRGNp34Gxc="; report-uri="https://reports.proton.me/reports/tls"
            X-Pm-Date:
                - 20 May 2026 19:54:45 GMT
        status: 200 OK
        code: 200
        duration: 393.275833ms
    - id: 2
      request:
        host: mail.proton.me
        headers:
            Authorization:
                - REDACTED
            X-Pm-Appversion:
                - macos-bridge@3.24.1
            X-Pm-Uid:
                - REDACTED
        url: https://mail.proton.me/api/mail/v4/messages/Qv_TTqeF-g_Ujknt3H4WJv3JbpZg7G5b-8cnpZ-Aim3TDyccLnYKJGcbvt2sC2AZwCUP4VUZNuqxmtEOVvOYKQ==
        method: GET
      response:
        body: '{"Code":1000,"Message":{"AddressID":"FLZjEknB7xrZs-yaNsNO2fuDzZe2vIfQ6Hy0hFWvVOqJn_kV_UnRm4j4E5sxK6ACjHXwbzxnsaZ2sePs_3Xf7w==","AttachmentInfo":{},"Attachments":[],"AttachmentsMetadata":[],"BCCList":[],"BimiSelector":null,"Body":"REDACTED_PGP_BODY_1","CCList":[],"CategoryID":"21","ConversationID":"IkWc8hcDPXhhm42wZN1xTP78h1QdyrvsiR0xKFntIrrdWxKSffiCJxdAnbKzVk2Ev2TUni6OYK4uc295tZnd5Q==","DisplaySenderImage":1,"DisplaySnoozedReminder":false,"ExpirationTime":0,"ExternalID":"2145625663l12246053l35793l0l0520170332@m56.criticalimpactinc.com","Flags":8388609,"Header":"Return-Path: <12246053-2145625663-3-35793-0@m56.criticalimpactinc.com>\r\nX-Original-To: rclark@millsymills.com\r\nDelivered-To: mills@millsymills.com\r\nAuthentication-Results: mail.protonmail.ch; dkim=pass (Good 1024 bit\r\n    rsa-sha256 signature) header.d=ernieball.com\r\n    header.i=newsletter@ernieball.com header.a=rsa-sha256; dkim=pass (Good\r\n    1024 bit rsa-sha256 signature) header.d=criticalimpactinc.com\r\n    header.a=rsa-sha256\r\nAuthentication-Results: mail.protonmail.ch; dma[...]
