---
version: 2
interactions:
    - id: 0
      request:
        host: mail.proton.me
        body: '{"GrantType":"refresh_token","RedirectURI":"https://protonmail.ch","RefreshToken":"REDACTED_REFRESHTOKEN_1","ResponseType":"token","State":"k�o�*��\u00127�����Mkz��\bԪ�\"n\\�''�\f��","UID":"REDACTED_UID_1"}'
        headers:
            Content-Type:
                - application/json
            X-Pm-Appversion:
                - macos-bridge@3.24.1
        url: https://mail.proton.me/api/auth/v4/refresh
        method: POST
      response:
        body: '{"AccessToken":"REDACTED_ACCESSTOKEN_1","Code":1000,"ExpiresIn":86400,"LocalID":0,"RefreshCounter":1,"RefreshToken":"REDACTED_REFRESHTOKEN_1","Scope":"full self parent user loggedin paid nondelinquent mail verified settings","Scopes":["full","self","parent","user","loggedin","paid","nondelinquent","mail","verified","settings"],"TokenType":"Bearer","UID":"REDACTED_UID_1","Uid":"REDACTED_UID_2"}'
        headers:
            Access:
                - application/vnd.protonmail.api+json;apiversion=4
            Content-Type:
                - application/json
            Public-Key-Pins-Report-Only:
                - pin-sha256="CT56BhOTmj5ZIPgb/xD5mH8rY3BLo/MlhP7oPyJUEDo="; pin-sha256="35Dx28/uzN3LeltkCBQ8RHK0tlNSa2kCpCRGNp34Gxc="; report-uri="https://reports.proton.me/reports/tls"
            X-Pm-Date:
                - 24 Jun 2026 21:40:53 GMT
        status: 200 OK
        code: 200
        duration: 262.794125ms
    - id: 1
      request:
        host: mail.proton.me
        form:
            Type:
                - "4"
        headers:
            Authorization:
                - REDACTED
            X-Pm-Appversion:
                - macos-bridge@3.24.1
            X-Pm-Uid:
                - REDACTED
        url: https://mail.proton.me/api/core/v4/labels?Type=4
        method: GET
      response:
        body: '{"Code":1000,"Labels":[{"Color":"#8080FF","Display":1,"Expanded":0,"ID":"0","LastUnseenMessageEventID":null,"Name":"Inbox","Notify":1,"Order":1,"Path":"Inbox","Sticky":0,"Type":4},{"Color":"#8080FF","Display":1,"Expanded":0,"ID":"8","LastUnseenMessageEventID":null,"Name":"Drafts","Notify":0,"Order":2,"Path":"Drafts","Sticky":0,"Type":4},{"Color":"#8080FF","Display":1,"Expanded":0,"ID":"1","LastUnseenMessageEventID":null,"Name":"All Drafts","Notify":0,"Order":3,"Path":"All Drafts","Sticky":0,"Type":4},{"Color":"#8080FF","Display":1,"Expanded":0,"ID":"12","LastUnseenMessageEventID":null,"Name":"All Scheduled","Notify":0,"Order":4,"Path":"All Scheduled","Sticky":[...]
[...]
