---
version: 2
interactions:
    - id: 0
      request:
        host: mail.proton.me
        body: '{"GrantType":"refresh_token","RedirectURI":"https://protonmail.ch","RefreshToken":"REDACTED_REFRESHTOKEN_1","ResponseType":"token","State":"�\u001bm�IF܋7uǢ��]�\u0017��I\u0002q\to�ۨwG\u000fX�","UID":"REDACTED_UID_1"}'
        headers:
            Content-Type:
                - application/json
            X-Pm-Appversion:
                - macos-bridge@3.24.1
        url: https://mail.proton.me/api/auth/v4/refresh
        method: POST
      response:
        body: '{"AccessToken":"REDACTED_ACCESSTOKEN_1","Code":1000,"ExpiresIn":86400,"LocalID":0,"RefreshCounter":13,"RefreshToken":"REDACTED_REFRESHTOKEN_1","Scope":"full self parent user loggedin paid nondelinquent mail verified settings","Scopes":["full","self","parent","user","loggedin","paid","nondelinquent","mail","verified","settings"],"TokenType":"Bearer","UID":"REDACTED_UID_1","Uid":"REDACTED_UID_2"}'
        headers:
            Access:
                - application/vnd.protonmail.api+json;apiversion=4
            Content-Type:
                - application/json
            Public-Key-Pins-Report-Only:
                - pin-sha256="CT56BhOTmj5ZIPgb/xD5mH8rY3BLo/MlhP7oPyJUEDo="; pin-sha256="35Dx28/uzN3LeltkCBQ8RHK0tlNSa2kCpCRGNp34Gxc="; report-uri="https://reports.proton.me/reports/tls"
        status: 200 OK
        code: 200
        duration: 223.606458ms
    - id: 1
      request:
        host: mail.proton.me
        headers:
            Authorization:
                - REDACTED
            X-Pm-Appversion:
                - macos-bridge@3.24.1
            X-Pm-Uid:
                - REDACTED
        url: https://mail.proton.me/api/mail/v4/settings
        method: GET
      response:
        body: '{"Code":1000,"MailSettings":{"AlmostAllMail":1,"AlsoArchive":0,"AttachPublicKey":0,"AutoDeleteSpamAndTrashDays":30,"AutoResponder":{"DaysSelected":[],"EndTime":0,"IsEnabled":false,"Message":"","Repeat":0,"StartTime":0,"Subject":"Auto","Zone":"Europe/Zurich"},"AutoSaveContacts":1,"AutoWildcardSearch":1,"Autocrypt":0,"BlockSenderConfirmation":null,"ComposerMode":0,"ConfirmLink":1,"DelaySendSeconds":10,"DisplayName":"","DraftMIMEType":"text/html","EnableFolderColor":0,"ExpandFolders":0,"FontFace":null,"FontSize":null,"HideEmbeddedImages":0,"HideRemoteImages":0,"HideSenderImages":0,"Hotkeys":0,"ImageProxy":2,"InheritParentFolderColor":1,"KT":0,"LastLoginTime":1779129498,"MailCategoryView":true,"MessageButtons":0,"NextMessageOnMove":1,"NumMessagePerPage":50,"PGPScheme":16,"PMSignature":1,"PMSignatureContent":"Sent with <a href=\"https://proton.me/mail/home\" target=\"_blank\">Proton Mail</a> secure email.","PMSignatureReferralLink":0,"PageSize":50,"PromptPin":1,"ReceiveMIMEType":"text/html","RecipientLimit":100,"RemoveImageMetadata":false,"RightToLeft":0,"Shortcuts":1,"ShowImages":2,"ShowMIMEType":"text/html","ShowMoved":0,"Sign":0,"Signature":"REDACTED_SIGNATURE_1","SpamAction":null,"StickyLabels":0,"SubmissionAccess":0,"SwipeLeft":0,"SwipeRight":1,"TLS":0,"Theme":"","ThemeType":0,"ThemeVersion":null,"UnreadFavicon":0,"ViewLayout":0,"ViewMode":0}}'
        headers:
            Access:
                - application/vnd.protonmail.api+json;apiversion=4
            Content-Type:
                - application/json
            Public-Key-Pins-Report-Only:
                - pin-sha256="CT56BhOTmj5ZIPgb/xD5mH8rY3BLo/MlhP7oPyJUEDo="; pin-sha256="35Dx28/uzN3LeltkCBQ8RHK0tlNSa2kCpCRGNp34Gxc="; report-uri="https://reports.proton.me/reports/tls"
        status: 200 OK
        code: 200
        duration: 212.957375ms
    - id: 2
      request:
        host: mail.proton.me
        body: '{"DisplayName":"Record Test Name"}'
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            X-Pm-Appversion:
                - macos-bridge@3.24.1
            X-Pm-Uid:
                - REDACTED
        url: https://mail.proton.me/api/mail/v4/settings/display
        method: PUT
      response:
        body: '{"Code":1000,"MailSettings":{[...]
[...]
