---
version: 2
interactions:
    - id: 0
      request:
        host: mail.proton.me
        body: '{"GrantType":"refresh_token","RedirectURI":"https://protonmail.ch","RefreshToken":"REDACTED_REFRESHTOKEN_1","ResponseType":"token","State":"0K���Z�''��\u001b_t��Ke�*AT0��2bhp��q�","UID":"REDACTED_UID_1"}'
        headers:
            Content-Type:
                - application/json
            X-Pm-Appversion:
                - macos-bridge@3.24.1
        url: https://mail.proton.me/api/auth/v4/refresh
        method: POST
      response:
        body: '{"Code":10013,"Error":"Refresh token has been revoked"}'
        headers:
            Content-Type:
                - application/json
        status: ""
        code: 422
        duration: 3.083µs
