---
version: 2
interactions:
    - id: 0
      request:
        host: mail.proton.me
        body: '{"GrantType":"refresh_token","RedirectURI":"https://protonmail.ch","RefreshToken":"REDACTED_REFRESHTOKEN_1","ResponseType":"token","State":"REDACTED_STATE_1","UID":"REDACTED_UID_1"}'
        headers:
            Content-Type:
                - application/json
            X-Pm-Appversion:
                - macos-bridge@3.24.1
        url: https://mail.proton.me/api/auth/v4/refresh
        method: POST
      response:
        body: '{"AccessToken":"REDACTED_ACCESSTOKEN_2","Code":1000,"ExpiresIn":86400,"LocalID":0,"RefreshCounter":1,"RefreshToken":"REDACTED_REFRESHTOKEN_2","Scope":"full self parent user loggedin paid nondelinquent mail verified settings","TokenType":"Bearer","UID":"REDACTED_UID_1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230ms
    - id: 1
      request:
        host: mail.proton.me
        headers:
            Authorization:
                - REDACTED
            X-Pm-Appversion:
                - macos-bridge@3.24.1
            X-Pm-Uid:
                - REDACTED
        url: https://mail.proton.me/api/core/v4/users
        method: GET
      response:
        body: '{"Code":1000,"User":{"AccountRecovery":null,"Billed":0,"CreateTime":1584911763,"Credit":0,"Currency":"USD","Delinquent":0,"DisplayName":"user","Email":"user@example.test","Flags":{},"ForbiddenProducts":[],"ID":"REDACTED_UID_1","Keys":[],"MaxSpace":547608330240,"MaxUpload":26214400,"MnemonicStatus":4,"Name":"user","NumAI":0,"Private":1,"ProductUsedSpace":{"Calendar":0,"Contact":0,"Drive":0,"Mail":105759981,"Pass":0},"Role":2,"Services":31,"Subscribed":31,"ToMigrate":0,"Type":1,"UsedSpace":105793420}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 271ms
